/*class for enlarging font size on mouseover*/
.enlarge {
  font-size: 50px;
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.enlarge:hover {
  font-size: 60px;
}

/*class for changing color from #000000 to FFEBD7 gradually*/
.colorTransit01 {
  animation-name: colorTransitBLK-FFEBD7;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.50, 0.10, 0.50, 0.90);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes colorTransitBLK-FFEBD7 {
  from{
    color: #000000;
  }
  to {
    color: #FFEBD7
  }
}

/*classes for the animations of menu items*/
.position-from-top-left{
  animation-name: fromTL;
  animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.50, 0.10, 0.50, 0.90);
  animation-delay: 0s;
  animation-iteration-count: 1;
}


.position-from-bottom-left{
  animation-name: fromBL;
  animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.50, 0.10, 0.50, 0.90);
  animation-delay: 0s;
  animation-iteration-count: 1;
}


.position-from-top-right{
  animation-name: fromTR;
  animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.50, 0.10, 0.50, 0.90);
  animation-delay: 0s;
  animation-iteration-count: 1;
}


.position-from-bottom-right{
  animation-name: fromBR;
  animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.50, 0.10, 0.50, 0.90);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes fromTL {
    from {
      top: 0px;
      left: 0%;
    }
    to {
      left: 40%;
      top: 200px;
    }
}

@keyframes fromBL {
    from {
      top: 40%;
      left: 0%;
    }
    to {
      left: 40%;
      top: 150px;
    }
}

@keyframes fromTR {
    from {
      top: 0px;
      left: 100%;
    }
    to {
      left: 40%;
      top: 300px;
    }
}

@keyframes fromBR {
    from {
      top: 40%;
      left: 100%;
    }
    to {
      left: 40%;
      top: 250px;
    }
}


